= render 'manager/navigation'

.container-fluid
	%h1 Editar Pessoa Jurídica

	= render 'form'

	= link_to 'Show', @legal_person, class: 'btn btn-info'
	\|
	= link_to 'Back', legal_people_path, class: 'btn btn-danger'
