= render 'manager/navigation'

.row
  .thumbnail.thumb-center
    .caption
      = link_to 'Voltar', partners_path

      %div
        %strong Cliente:
        = @partner.person.get_account_name
      %div
        %strong Número da conta:
        = ac_number @partner.account

