
= render 'manager/navigation'

.container-fluid
  %h1 Editar Agência

  = render 'form'

  = link_to 'Visualizar', @agency, class: 'btn btn-info'
  \|
  = link_to 'Back', agencies_path, class: 'btn btn-danger'
